<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HvA Demo</title>
</head>

<template name="layout">
	<body>
	  <div class="container">
	  	{{> header}} 
		  {{> yield}}
		</div>
	</body>
</template>