<template name="uploadButton">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-drop-zone pagination-centered">
                {{> photo}}
            </div>
        </div>
    </div>
</template>