<template name="image">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="{{url}}" target="_blank" class="thumbnail">
            <img src="{{url}}" />
            <span class="label label-default">{{this.name}}</span>
            <span class="label label-default">{{this.size}}</span>
            <span class="label label-default">{{this.type}}</span>
            <span class="label label-default">{{this.extension}}</span>
        </a>
    </div>
</template>